In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
!ls

gdrive	sample_data

In [0]:

import os
os.chdir('gdrive/My Drive/kaggle/energy/zip_files')  #change dir

# import dataset from kaggle

In [0]:
# Colab library to upload files to notebook
from google.colab import files
# Install Kaggle library
!pip install -q kaggle
# Upload the kaggle.json file
uploaded = files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle
!ls -l ~/.kaggle
!cat ~/.kaggle/kaggle.json
# Uploading the data

In [0]:
!kaggle competitions download -c ashrae-energy-prediction -p /content/gdrive/My\ Drive/kaggle/energy

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv.zip to /content/gdrive/My Drive/kaggle/energy
 98% 117M/120M [00:03<00:00, 32.2MB/s]
100% 120M/120M [00:03<00:00, 35.1MB/s]
Downloading test.csv.zip to /content/gdrive/My Drive/kaggle/energy
 95% 158M/167M [00:02<00:00, 62.6MB/s]
100% 167M/167M [00:02<00:00, 65.2MB/s]
Downloading building_metadata.csv to /content/gdrive/My Drive/kaggle/energy
  0% 0.00/44.5k [00:00<?, ?B/s]
100% 44.5k/44.5k [00:00<00:00, 5.20MB/s]
Downloading weather_test.csv.zip to /content/gdrive/My Drive/kaggle/energy
  0% 0.00/2.53M [00:00<?, ?B/s]
100% 2.53M/2.53M [00:00<00:00, 76.9MB/s]
Downloading sample_submission.csv.zip to /content/gdrive/My Drive/kaggle/energy
 89% 79.0M/88.4M [00:00<00:00, 97.0MB/s]
100% 88.4M/88.4M [00:00<00:00, 95.7MB/s]
Downloading weather_train.csv.zip to /content/gdrive/My Drive/kaggle/energy
  0% 0.00/1.27M [00:00<?, ?B/s]
100% 1.27M/1.27M [00:00<00:00, 78.1MB/s]

# train.csv

In [0]:
import numpy as np
import pandas as pd

In [0]:
from matplotlib import pyplot as plt
%matplotlib inline

In [0]:
main = pd.read_csv ('train.csv.zip', compression='zip')
main.shape

(20216100, 4)

# building_metadata.csv

In [0]:
!ls

building_metadata.csv	   test.csv.zip       weather_test.csv.zip
model.h5		   train.csv.zip      weather_train.csv.zip
sample_submission.csv.zip  train_test.pickle

In [0]:
buildings = pd.read_csv ('building_metadata.csv' )

In [0]:
buildings.tail()

      site_id  building_id  ... year_built  floor_count
1444       15         1444  ...     1914.0          NaN
1445       15         1445  ...        NaN          NaN
1446       15         1446  ...     1997.0          NaN
1447       15         1447  ...     2001.0          NaN
1448       15         1448  ...     2001.0          NaN

[5 rows x 6 columns]

In [0]:
buildings.site_id.nunique()

16

In [0]:
buildings = buildings.drop(columns=['year_built','floor_count'], axis=1)

In [0]:
buildings.primary_use.value_counts()

Education                        549
Office                           279
Entertainment/public assembly    184
Public services                  156
Lodging/residential              147
Other                             25
Healthcare                        23
Parking                           22
Warehouse/storage                 13
Manufacturing/industrial          12
Retail                            11
Services                          10
Technology/science                 6
Food sales and service             5
Utility                            4
Religious worship                  3
Name: primary_use, dtype: int64

In [0]:
l=["Religious worship","Utility","Food sales and service","Technology/science","Services","Retail","Manufacturing/industrial","Warehouse/storage","Parking","Healthcare","Other"]

In [0]:
buildings.loc[buildings.primary_use.isin(l),'primary_use'] = 'others'

In [0]:
buildings["primary_use"] = buildings["primary_use"].astype('category')
buildings["primary_use"] = buildings["primary_use"].cat.codes

In [0]:
buildings['primary_use'] = buildings.primary_use.astype("int64")

In [0]:
buildings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 4 columns):
site_id        1449 non-null int64
building_id    1449 non-null int64
primary_use    1449 non-null int64
square_feet    1449 non-null int64
dtypes: int64(4)
memory usage: 45.4 KB

# weather_train.csv

In [0]:
weather=pd.read_csv('weather_train.csv.zip', compression='zip')
weather.shape

(139773, 9)

In [0]:
weather.head()

   site_id            timestamp  ...  wind_direction  wind_speed
0        0  2016-01-01 00:00:00  ...             0.0         0.0
1        0  2016-01-01 01:00:00  ...            70.0         1.5
2        0  2016-01-01 02:00:00  ...             0.0         0.0
3        0  2016-01-01 03:00:00  ...             0.0         0.0
4        0  2016-01-01 04:00:00  ...           250.0         2.6

[5 rows x 9 columns]

In [0]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 9 columns):
site_id               139773 non-null int64
timestamp             139773 non-null object
air_temperature       139718 non-null float64
cloud_coverage        70600 non-null float64
dew_temperature       139660 non-null float64
precip_depth_1_hr     89484 non-null float64
sea_level_pressure    129155 non-null float64
wind_direction        133505 non-null float64
wind_speed            139469 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.6+ MB

In [0]:
weather.isnull().sum()

site_id                   0
timestamp                 0
air_temperature          55
cloud_coverage        69173
dew_temperature         113
precip_depth_1_hr     50289
sea_level_pressure    10618
wind_direction         6268
wind_speed              304
dtype: int64

In [0]:
weather = weather.drop(columns=['precip_depth_1_hr','wind_direction','sea_level_pressure','cloud_coverage'], axis=1)

In [0]:
weather['wind_speed'].fillna(weather['wind_speed'].mean(), inplace=True)
weather['air_temperature'].fillna(weather['air_temperature'].mean(), inplace=True)
weather['dew_temperature'].fillna(weather['dew_temperature'].mean(), inplace=True)

# Merge

In [0]:
data =  pd.merge(main,buildings, on=['building_id'],sort=False)

In [0]:
data=pd.merge(data, weather, on=['site_id','timestamp'],sort=False)

In [0]:
data.head()

   building_id  meter  ... dew_temperature  wind_speed
0            0      0  ...            20.0         0.0
1            0      0  ...            21.1         1.5
2            0      0  ...            21.1         0.0
3            0      0  ...            20.6         0.0
4            0      0  ...            20.0         2.6

[5 rows x 10 columns]

In [0]:
data["month"] = data["timestamp"].map(lambda row: row.split(" ")[0].split("-")[1])
data["day"] = data["timestamp"].map(lambda row: row.split(" ")[0].split("-")[2])
#data["time"] = data["timestamp"].map(lambda row: row.split(" ")[1].split(":")[0])


data['month'] = pd.to_numeric(data.month, errors='coerce')
#data['time'] = pd.to_numeric(data.time, errors='coerce')
data['day'] = pd.to_numeric(data.month, errors='coerce')

In [0]:

data = data.drop(columns=[ 'timestamp','site_id'], axis=1)

# Split Train_Test

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train_df,test_df = train_test_split(data, test_size=0.2, random_state=45)

In [0]:
train_df.head()

          building_id  meter  meter_reading  ...  wind_speed  month  day
10596157          922      0        148.000  ...         3.6      4    4
5498999           449      0         44.200  ...         4.6     12   12
4366511           318      0        245.790  ...         6.7      9    9
3482081           250      1        331.217  ...         2.6     10   10
1503341           144      0         56.625  ...         1.0     11   11

[5 rows x 10 columns]

In [0]:
y_test = test_df['meter_reading']
x_test = test_df[['meter', 'building_id', 'primary_use', 'month', 'day','air_temperature','dew_temperature', 'wind_speed','square_feet']]

y_train = train_df['meter_reading']
x_train = train_df[['meter', 'building_id', 'primary_use', 'month', 'day','air_temperature','dew_temperature', 'wind_speed','square_feet']]

In [0]:
print(x_test.shape)
print(y_test.shape)
print("******************************")
print(x_train.shape)
print(y_train.shape)

(4025121, 9)
(4025121,)
******************************
(16100484, 9)
(16100484,)

In [0]:
x_train.head()

          meter  building_id  ...  wind_speed  square_feet
9606115       0          835  ...         4.1        17220
184779        1           78  ...         4.1        76257
10846520      2          955  ...         2.6       198488
14979167      1         1139  ...         2.6       336650
1075753       1           97  ...         0.0       187647

[5 rows x 9 columns]

In [0]:
y_test.head()

13172218     102.2740
1594888      219.6000
1974942      212.4530
8695104     3682.6000
18226576      94.0657
Name: meter_reading, dtype: float64

In [0]:
# store the clean data in a pickle file to be used later in the modeling phase

import pickle
with open('train_test.pickle', 'wb') as f:
    pickle.dump([x_train, y_train, x_test,y_test], f)

# Run and evaluate Model

In [0]:
!ls

building_metadata.csv	   test.csv.zip       weather_test.csv.zip
model.h5		   train.csv.zip      weather_train.csv.zip
sample_submission.csv.zip  train_test.pickle

In [42]:
import pickle
with open('train_test.pickle', 'rb') as f:
    [x_train,y_train, x_test,y_test] = pickle.load(f)
x_train.shape,y_train.shape, x_test.shape,y_test.shape

((16100484, 9), (16100484,), (4025121, 9), (4025121,))

In [0]:
x_train.shape,y_train.shape, x_test.shape,y_test.shape

((16100484, 9), (16100484,), (4025121, 9), (4025121,))

In [11]:
from sklearn import preprocessing
from keras import backend as K
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.layers import Dense, LSTM, GRU, Dropout, BatchNormalization
from keras.models import Sequential
from keras.optimizers import RMSprop,Adam
from keras import regularizers

Using TensorFlow backend.

In [0]:
def root_mean_squared_error(y_true, y_pred):
  return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [13]:

model = Sequential()
model.add(Dense(500, input_dim=9, activation= "relu"))
model.add(Dropout(0.2))

model.add(Dense(100, activation= "relu"))
model.add(Dropout(0.2))

model.add(Dense(50, activation= "relu"))
model.add(Dense(1))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [14]:
#opt = Adam(lr=INIT_LR, decay=INIT_LR / EPOCHS)
#from keras.optimizers import Adam

def root_mean_squared_error(y_true, y_pred):
  return K.sqrt(K.mean(K.square(y_pred - y_true)))
  
metrics=root_mean_squared_error
model.compile(loss='mse', optimizer="rmsprop" ,metrics=[metrics])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [0]:
y_train = np.log1p(y_train)

In [0]:
es = EarlyStopping(monitor='val_loss', min_delta=0.0001, patience=5, verbose=True, mode='auto')

In [0]:
model.fit(x_train,y_train,epochs=30,batch_size=500,verbose=1,validation_data=(x_test,y_test),callbacks=[ es])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 16100484 samples, validate on 4025121 samples
Epoch 1/30
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

16100484/16100484 [==============================] - 230s 14us/step - loss: 54590.7747 - root_mean_squared_error: 9.1164 - val_loss: 4.5202 - val_root_mean_squared_error: 2.1251
Epoch 2/30
16100484/16100484 [==============================] - 238s 15us/step - loss: 6.1387 - root_mean_squared_error: 2.1623 - val_loss: 4.3839 - val_root_mean_squared_error: 2.0927
Epoch 3/30
16100484/16100484 [==============================] - 241s 15us/step - loss: 4.9936 - root_mean_squared_error: 2.1086 - val_loss: 3.9984 - val_root_mean_squared_error: 1.9983
Epoch 4/30
16100484/16100484 [==============================] - 240s 15us/step - loss: 5.7887 - root_mean_squared_error: 2.0353 - val_loss: 3.7409 - val_root_mean_squared_error: 1.9330
Epoch 5/30
16100484/16100484 [==============================] - 237s 15us/step - loss: 3.8421 - root_mean_squared_error: 1.9389 - val_loss: 3.6891 - val_root_mean_squared_error: 1.9196
Epoch 6/30
16100484/16100484 [==============================] - 237s 15us/step - loss: 3.7676 - root_mean_squared_error: 1.9278 - val_loss: 4.1437 - val_root_mean_squared_error: 2.0346
Epoch 7/30
16100484/16100484 [==============================] - 239s 15us/step - loss: 3.7145 - root_mean_squared_error: 1.9172 - val_loss: 3.7463 - val_root_mean_squared_error: 1.9344
Epoch 8/30
16100484/16100484 [==============================] - 240s 15us/step - loss: 3.7956 - root_mean_squared_error: 1.9240 - val_loss: 3.8163 - val_root_mean_squared_error: 1.9524
Epoch 9/30
16100484/16100484 [==============================] - 236s 15us/step - loss: 3.8792 - root_mean_squared_error: 1.9349 - val_loss: 3.5824 - val_root_mean_squared_error: 1.8914
Epoch 10/30
16100484/16100484 [==============================] - 236s 15us/step - loss: 3.7179 - root_mean_squared_error: 1.9078 - val_loss: 3.5473 - val_root_mean_squared_error: 1.8819
Epoch 11/30
16100484/16100484 [==============================] - 232s 14us/step - loss: 3.7641 - root_mean_squared_error: 1.9035 - val_loss: 3.3312 - val_root_mean_squared_error: 1.8239
Epoch 12/30
16100484/16100484 [==============================] - 233s 14us/step - loss: 5.2060 - root_mean_squared_error: 1.9852 - val_loss: 3.4094 - val_root_mean_squared_error: 1.8447
Epoch 13/30
16100484/16100484 [==============================] - 231s 14us/step - loss: 3.9485 - root_mean_squared_error: 1.9198 - val_loss: 3.3735 - val_root_mean_squared_error: 1.8355
Epoch 14/30
16100484/16100484 [==============================] - 233s 14us/step - loss: 3.8623 - root_mean_squared_error: 1.9031 - val_loss: 3.1923 - val_root_mean_squared_error: 1.7853
Epoch 15/30
16100484/16100484 [==============================] - 231s 14us/step - loss: 4.0033 - root_mean_squared_error: 1.9105 - val_loss: 3.3012 - val_root_mean_squared_error: 1.8154
Epoch 16/30
16100484/16100484 [==============================] - 233s 14us/step - loss: 3.8500 - root_mean_squared_error: 1.9071 - val_loss: 4.3883 - val_root_mean_squared_error: 2.0927
Epoch 17/30
16100484/16100484 [==============================] - 235s 15us/step - loss: 4.1640 - root_mean_squared_error: 1.9389 - val_loss: 3.2285 - val_root_mean_squared_error: 1.7953
Epoch 18/30
16100484/16100484 [==============================] - 238s 15us/step - loss: 5.1540 - root_mean_squared_error: 2.0238 - val_loss: 3.4155 - val_root_mean_squared_error: 1.8468
Epoch 19/30
16100484/16100484 [==============================] - 238s 15us/step - loss: 8.4701 - root_mean_squared_error: 2.1409 - val_loss: 3.5147 - val_root_mean_squared_error: 1.8733
Epoch 00019: early stopping

In [0]:
from keras.models import load_model
model.save('my_model2.h5')  # creates a HDF5 file 'my_model.h5'

In [15]:
model.load_weights("my_model2.h5")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

In [28]:
y_test = np.log1p(y_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log1p
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log1p
  """Entry point for launching an IPython kernel.

In [47]:
y_predicted= model.predict(x_test ,batch_size=1024, verbose=1)

4025121/4025121 [==============================] - 7s 2us/step

In [81]:
y_predicted[5555]

array([3.6932733], dtype=float32)

In [0]:
y_test = np.log1p(y_test)

In [0]:
from sklearn.metrics import mean_squared_error

In [49]:
print(np.sqrt(mean_squared_error(y_test,y_predicted)))

1.874762639177629

# data preparation for testset

In [4]:
!ls

building_metadata.csv  sample_submission.csv.zip  weather_test.csv.zip
model.h5	       test.csv.zip		  weather_train.csv.zip
my_model2.h5	       train.csv.zip
my_model.h5	       train_test.pickle

In [50]:
main_test = pd.read_csv ('test.csv.zip', compression='zip')
main_test.shape

(41697600, 4)

In [0]:
buildings_test = pd.read_csv ('building_metadata.csv' )

buildings_test = buildings_test.drop(columns=['year_built','floor_count'], axis=1)

l=["Religious worship","Utility","Food sales and service","Technology/science","Services","Retail","Manufacturing/industrial","Warehouse/storage","Parking","Healthcare","Other"]
buildings_test.loc[buildings_test.primary_use.isin(l),'primary_use'] = 'others'

buildings_test["primary_use"] = buildings_test["primary_use"].astype('category')
buildings_test["primary_use"] = buildings_test["primary_use"].cat.codes

In [0]:
weather_test=pd.read_csv('weather_test.csv.zip', compression='zip')

In [53]:
weather_test.shape

(277243, 9)

In [0]:
weather_test=pd.read_csv('weather_test.csv.zip', compression='zip')
weather_test.shape
weather_test = weather_test.drop(columns=['precip_depth_1_hr','wind_direction','sea_level_pressure','cloud_coverage'], axis=1)


weather_test['wind_speed'].fillna(weather_test['wind_speed'].mean(), inplace=True)
weather_test['air_temperature'].fillna(weather_test['air_temperature'].mean(), inplace=True)
weather_test['dew_temperature'].fillna(weather_test['dew_temperature'].mean(), inplace=True)

In [0]:
data_test =  pd.merge(main_test,buildings_test, on=['building_id'],sort=False)

In [0]:
data_test = data_test.merge(weather_test,left_on=['site_id','timestamp'],right_on=['site_id','timestamp'],how='left')

In [57]:
data_test.shape

(41697600, 10)

In [0]:
data_test["month"] = data_test["timestamp"].map(lambda row: row.split(" ")[0].split("-")[1])
data_test["day"] = data_test["timestamp"].map(lambda row: row.split(" ")[0].split("-")[2])
#data_test["time"] = data_test["timestamp"].map(lambda row: row.split(" ")[1].split(":")[0])

data_test['month'] = pd.to_numeric(data_test.month, errors='coerce')
#data_test['time'] = pd.to_numeric(data_test.time, errors='coerce')
data_test['day'] = pd.to_numeric(data_test.month, errors='coerce')

In [59]:
data_test.head()

   row_id  building_id  meter  ... wind_speed  month  day
0       0            0      0  ...        3.6      1    1
1     129            0      0  ...        3.1      1    1
2     258            0      0  ...        3.1      1    1
3     387            0      0  ...        3.1      1    1
4     516            0      0  ...        2.6      1    1

[5 rows x 12 columns]

In [0]:

data_test = data_test.drop(columns=[ 'row_id','timestamp','site_id'], axis=1)

In [62]:
data_test.shape

(41697600, 10)

In [97]:
predicted=model.predict(data_test, batch_size=1024, verbose=1)

41697600/41697600 [==============================] - 73s 2us/step

# submit

In [0]:
ids = data_test.row_id

(41697600, 2)

In [69]:
len(predicted)

41697600

In [104]:
predicted[5599995]

array([83.33016], dtype=float32)

In [0]:
submit = pd.read_csv('sample_submission.csv.zip', compression='zip')

# x_test = BTW_test[['meter', 'building_id', 'primary_use', 'Month', 'Day','air_temperature', 'wind_speed', 'precip_depth_1_hr', 'cloud_coverage',#
#        'square_feet']]
# x_test = x_test.values[:]
# x_test = x_test.reshape((x_test.shape[0],1,x_test.shape[-1]))

In [103]:
predicted = np.expm1(predicted)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in expm1
  """Entry point for launching an IPython kernel.

In [0]:
submit['meter_reading'] = predicted

In [105]:
submit.head()

   row_id  meter_reading
0       0      83.330162
1       1      83.330162
2       2      83.330162
3       3      83.330162
4       4      83.330162

In [109]:
submit.isnull().sum()

row_id           0
meter_reading    0
dtype: int64

In [115]:
print("a")

a

In [0]:
export_csv = submit.to_csv('./my-submission.csv', index=False)

In [73]:
submit.head()

   row_id  meter_reading
0       0      83.330162
1       1      83.330162
2       2      83.330162
3       3      83.330162
4       4      83.330162

In [0]:
83.330162

In [117]:
!kaggle competitions submit ashrae-energy-prediction -f my-submission.csv -m 'Final submission'

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 570M/570M [00:12<00:00, 48.7MB/s]
Successfully submitted to ASHRAE - Great Energy Predictor III